.sidebar-i {
  height: 100%;
  overflow: scroll;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 35px;
  padding: 10px;
}
.sidebar-logo > img {
  filter: invert(1);
}

.sidebar_option {
  margin-block: 15px;
  padding-bottom: 30px;
}

.sidebar_sub > h3 {
  padding: 15px 10px;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
}
.sidebar_sub > h3 > span >button{
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.5rem;
  line-height: 1.6rem;
} 
.sidebar_sub > h3 > span >button:hover{
  font-size: 1.3rem;
}

