.sidebar-i{
    position: fixed;
}

.sidebar-logo{
    display: flex;
    align-items: center;
    gap: 8px;
    height: 35px;
    padding: 10px;
}
.sidebar-logo > img{
    filter: invert(1);
}

.sidebar_option{
    margin-block: 15px;
    padding-bottom: 30px;
   
}

.sidebar_sub > h3 {
    padding: 15px 10px;
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}