.slider-container{
    display: flex;
    padding: 10px;
    gap: 10px;
    width: calc(80vw - 20px);
}
.slide-heading{
    margin-top: 50px;
    padding-inline: 20px;
}
.slider-item{
    background-color: #2b2b2b;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}
.slider-container img {
    max-width: 125px;
    max-height: 125px;
    border-radius: 5px;
    background-color: rgb(255, 146, 255);
}

.slider-item p{
    font-size: 14px;
    overflow: hidden;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.slider-item p:last-child{
    font-size: 10px;
    overflow:hidden;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #bbb;
}