.slider-container{
    display: flex;
    gap: 10px;
    padding: 7px;
    width: calc(80vw - 15px);
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.slide-heading{
    margin-top: 50px;
    padding-inline: 20px;
}

.slider-item{
    background-color: #2b2b2b;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}

.slider-container img {
    max-width: 125px;
    max-height: 125px;
    border-radius: 5px;
    background-color: rgb(255, 146, 255);
    aspect-ratio: 1;
    object-fit: cover;
}

.slider-item p{
    font-size:14px;
    overflow:hidden;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow:hidden;
    text-wrap:nowrap;
}

.slider-item p:last-child{
    font-size: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #bbb;
}

@media only screen and (max-width:580px) {
    .slider-container{
        width: 100%
    }  
}