.homepage {
    display: flex;
}
.sidebar {
    background-color: #262626;
    height: 100vh;
    color: #ddd;
    flex: 1 0 20%;
    min-width: 200px;
    width: 20%;
}
.body{
    background-color: rgb(48, 48, 48);
    flex: 1 1 80%;
    height: 100vh;
    overflow-y: scroll;
}

.navbar-toggle {
    position: absolute;
    right: 0;
    top: 60%;
    background-color: white;
    color: black;
    z-index: 100000;
    padding: 10px;
    border-radius: 20px 0 0 15px;
    display: none;

  }
.navbar-toggle:active {
   transform: scale(0.9);

}  
@media only screen and (max-width:580px) {
    .sidebar{
        width: 70%;
        z-index: 100;
        position: fixed;
        animation-name: fade ;
        animation-duration: 0.15s ;
        animation-timing-function: normal;

    }
    .navbar-toggle {
        display: block;
      }

      @keyframes fade {
        from{
            left: -100%;
        }
        to{
            left: 0;
        }
        
      }
    
}