.sec-body{
     box-sizing: border-box;
    width: 100%;
    padding: 70px 20px 20px;
    overflow: hidden;
}
.search-heading{
     padding: 40px 20px 20px;
}
.src-result{
     display: flex;
     width: 100%;
     gap: 20px;
     flex-wrap: wrap;
}
.src-relate-song{
     padding: 10px;
     background-color: #282828;
     display: flex;
     flex-direction: column;
     gap: 10px;
     flex: 1 0 325px;
     border-radius: 8PX;
}
.src-relate-song .song-item{
     padding: 0 10px;
}
.src-relate-song .song-item-text{
     align-items: center;
}
.src-found-song{
     display: flex;
     flex:1 0 350px;
     gap: 15px;
     padding: 10px;
     background-color: rgb(40, 40, 40);
     border-radius: 8px; 

}
.src-found-song  img{
     width: 40%;
     max-width: 200px
     ;
     aspect-ratio: 1;
     object-fit: cover;
     border-radius: 8px;
     padding: 5px;
     background-color: black;
}


.src-song-card{
     display: flex;
     gap: 20px;
 }
 .src-song-card p {
     line-height: 20px;
    max-height: 40px;
    overflow: hidden;
 }
.src-song-card img{
     background-color: #464646;
     border-radius: 10px;
 }
 .b-text{
     font-family: cursive;
 }
 
 .artist-card{
     padding: 10px;
     background:linear-gradient(to top , #232222 ,transparent);
   }
   .artist-img{
     box-sizing: border-box;
     width:100%;
     aspect-ratio: 1;
     border-radius: 50%;
     background: gray;
     overflow: hidden;
   }

   .artist-details{
     padding-block:10px ;
     font-size: 16px;
     font-family: cursive;
     text-align: center;
   }
   .artist-details p{
     line-height: 24px;
     margin: 0;
     height: auto;
     padding-block:7px;
     text-overflow: ellipsis;
     white-space: nowrap;
   }
   .artist-card:hover{
     background:linear-gradient(to top , #090909 ,transparent);
   }