.mini-song-player{
    width: 100%;
    height: 70px;
    background-color: #000;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    z-index: 102;
    color: white;
}
.mini-song-player .music-range-line{
    position: absolute;
    width: 100%;
    height: 3px;
    top: 0;
}
.mini-song-player .music-range-line input{
    position: absolute;
    accent-color: #f64646;
    border-radius: 10px;
    top: -3px;
    height: 3px;
    width: 100%;
    left: -20px;
}


.mini-song-player button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;

}
.mini-song-player .playing-song{
    flex: 0 1 300px;
    height: auto;
    display: flex;
    gap: 10px;
    box-sizing: border-box;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.mini-song-player img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: green;
}
.mini-song-player .mini-song-info{
    flex: 0 1 230px;
    max-width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 5px 10px;
    box-sizing: border-box;
    color: white;
    flex-direction: column;    
}
.mini-song-player .song-name{
    width: 100%;
    height: auto;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
    overflow:hidden ;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.mini-song-player .song-artist{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    color: rgb(168, 168, 168 );
    font-size: 1rem;
    margin: 0;
    overflow:hidden ;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mini-song-player-controls{
    flex:0 1 180px;
    height: auto;
    padding: 10px;
    display: flex;
    gap: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-evenly;
}
.mini-song-player-volume{
    flex: 0 1 180px;
    height: auto;
    padding: 10px;
    display: flex;
    gap: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-evenly;
}
.single-song-container{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 80px 80px 20px;
    flex-direction: row;
    left: 0;
    z-index: 101;
    box-sizing: border-box;
    background: #222;
    top: 100vh;
    transition: all 0.3s ease;
}
.single-song-container-active{
    top: 0;
}
.single-song-playing{
    width: 250px;
    height: 100%;
    background-color:#232222;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
}
.single-song-p-container{
   width: 100%;
   height: auto;
   padding: 20px 30px 0;
   box-sizing: border-box;
}
.single-song-playing img{
    width: 100%;
    aspect-ratio: 1;
    border-radius: 10px;
    background-color: #464646;
}
.single-song-playing .song-name{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
}
.single-song-playing .song-movie{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    box-sizing: border-box;
    color: rgb(168, 168, 168 );
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    margin: 0;
}

.song-info-queue{
    width: calc(100% - 250px);
    height: 100%;
    background-color: #232222;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    overflow: scroll;
}
.song-info-queue::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
}
.song-info-queue::-webkit-scrollbar-thumb{
    background-color: #464646;
    border-radius: 10px;
}
.song-info-queue::-webkit-scrollbar-track{
    background-color: transparent;
}
.song-info-queue .single-song-info{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #464646;
}
.song-info-queue .single-song-queue{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #464646;
}
.hidden-playsong-mini-icon{
    position: absolute;
    height: 100%;
    width: auto;
    right: 0;
    right: 15px;
    display: none;
}
.hidden-playsong-mini-icon button{
    width: 40px;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.3s ease;
}
.hidden-playsong-mini-icon button svg{
    height: 40px;
    width: 40px;
}
@media screen and (max-width:876px) {
    .mini-song-player-controls{
        display: none;
    }
    .mini-song-player-volume{
        display: none;
    }   
    .playing-song{
        flex: 1 0 100%;
        padding-right: 40px;
        box-sizing: border-box;
    }
    .playing-song .hidden-playsong-mini-icon{
        display: block;
    }
}
